body {
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark-1;
}

.brand-logo {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 400;
    color: $color-primary-light;
    line-height: 5.5rem;
    text-decoration: none;
    &:hover {
        color: $color-primary;
        font-weight: 600;
        cursor: pointer;
    }
}

.heading-primary {
    font-size: .5rem;
    &--main {
        color: $color-white;
        font-size: 3.3rem;
        line-height: 1.4;
        font-weight: 600;
        animation: moveInLeft 1s ease-out;
        @include respond(screen-s) {
            font-size: 3.7rem;
        }
        @include respond(screen-m) {
            font-size: 4rem; 
        }
        @include respond(screen-xxl) {
            font-size: 6rem;
        }
    }
    
    &--sub {
        display: block;
        color: $color-white;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: .75rem;
        animation: moveInRight 1s ease-out;
        @include respond(screen-m) {
            letter-spacing: 1.5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block; 
    text-align: center;
    color: $color-grey-dark-1;
    letter-spacing: .2rem;
    transition: all .2s;
    @include respond(screen-s) {
        font-size: 3rem;
    }
    @include respond(screen-m) {
        font-size: 2.5rem;
    } 
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.section-title {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 3rem;
    text-align: center;
    i {
        font-size: 5rem;
    }
}

.section-bar {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 90%;
    max-width: 100vw;
    height: 40rem;
    overflow: hidden;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 3rem;
        i {
            text-align: center;
            font-size: 5rem;
        }
    }
}

div.underline{
    width: 3rem;
    height: .1rem;
    background: $color-primary;
    margin-bottom: 1rem;
}