.section__menu {
    background: $color-white;
    max-width: 100vw;
    overflow: hidden;
    padding: 10rem 0 10rem;
    display: flex;
    align-items: center;
    flex-flow: column;
}


.section__book-now {
    background-color: $color-grey-light-1;
    padding: 0rem 0 15rem 0;
    max-width: 100vw;
   
    .bar-image{
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/patthai-wrapped-lg.jpg');
    }
}

.section__about-us{
    background: $color-grey-light-1;
    max-width: 100vw;
    padding: 10rem 0 10rem;

}

