.form {
    display: flex;
    flex-direction: column;
    padding: 6rem 0 1rem 0;
    margin: -20rem auto 1rem;
    max-width: 80rem;
    background: $color-white;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    text-align: left;

    .opening-hours{
        &__text{
            font-size: 2rem;
        }
    }

    &-area {
        padding: 0 5rem;
        display: flex;
        flex-flow: row wrap;
        font-size: 1.5rem;

        @include respond(screen-m){
            padding: 0 13rem;
        }
        @include respond(screen-m){
            padding: 0 13rem;
        }
    }
    input,
    select,
    textarea {
        border: none;
        background: $color-grey-light-2;
    }
    &__info {
        &-booking {
            display: flex;
            flex-flow: column;
            flex: 1;
            margin-bottom: 2rem;
            .date,
            .time,
            .guests-number {
                display: flex;
                flex-flow: column wrap;
                label{
                    @include respond(screen-l){
                        font-size: 2rem;
                    }
                }
                input[name="date"],
                input[name="time"],
                input[name="guests-number"] {
                    width: 100%;
                    height: 3rem;
                    padding: .5rem;
                    outline: none;

                    @include respond(screen-l){
                        text-align: center;
                    }
                   
                }
            }
            @include respond(screen-l) {
                flex-flow: row;
                justify-content: space-between;
                .date,
                .time {
                    flex: 1;
                    margin-right: 1rem;
                }
            }
        }
        &-customer {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            width: 100%;
            margin: 0 auto;
            .name,
            .family-name,
            .phone,
            .email {
                label {
                    @include respond(screen-l){
                       font-size: 2rem;
                    }
                }
                input[name="email"],
                input[name="name"],
                input[name="family-name"],
                input[name="phone"] {
                    height: 3rem;
                    padding: .5rem;
                    width: 100%;
                    &:focus {
                        outline: none;
                    }
                }
                @include respond(screen-l) {
                    flex: 50%;
                }
            }
            .name,
            .email {
                @include respond(screen-l) {
                    padding-right: 1rem;
                }
            }
            @include respond(screen-l) {
                flex-flow: row wrap;
            }
        }
    }
    .comment {
        width: 100%;

        label{
            @include respond(screen-l){
                font-size: 2rem;
            }
        }
        &__textarea {
            border: none;
            background: $color-grey-light-2;
            width: 100%;
            padding: .5rem;
            height: 6rem;
            resize: none;
            &:focus {
                outline: none;
            }
        }
    }
    .required-fields {
        flex: 1;
        width: 100%;
        align-self: flex-start;

        @include respond (screen-l){
            flex: 1 1 100%;;
        }
    }
    &__btn-box {
        display: flex;
        flex-flow: column wrap;
        margin: 1rem 0;
        background: transparent;

        @include respond (screen-l){
            flex-flow: row;
            flex: 1;
            justify-content: center;
        }
       
    }
    &__btn {
        background: $color-primary-light;
        color: $color-grey-light-1;
        padding: .5rem 3rem;
        border: none;
        margin: 1rem 2rem;
        font-size: 2rem;
        font-family: inherit;
        cursor: pointer;
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }
        @include respond(screen-l) {
            padding: .5rem 10rem;
        }
    }
}