.navbar {
    background: $color-white;
    color: $color-grey-dark-1;
    position: sticky;
    top: 0;
    z-index: 10;
    max-width: 100vw;
    border-top: none;
    @include respond(screen-l) {
        display: flex;
    }
    &__banner {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 3rem;
        width: 100%;
        @include respond (screen-s) {
            padding: 0 5rem;
        }
        @include respond (screen-l) {
            padding: 0;
            flex-flow: row;
            flex: 1;
        }
    }
    &__logo {
        font-size: 2rem;
        flex: 1;
        @include respond(screen-m) {
            font-size: 3rem;
        }
        @include respond(screen-l) {
            flex: 1;
            padding: .5rem 7rem;
        }
        @include respond(screen-xl) {
            padding-left: 5rem;
        }
        @include respond(screen-xxl) {
            padding-left: 6rem;
        }
    }
    &__menu {
        display: flex;
        flex-flow: row;
        width: 100%;
        justify-content: center;
        @include respond(screen-l) {
            flex: 1;
        }
    }
    &__menu-box {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        flex: 1;
        padding: 1rem 0 2rem;
        transition: left 1s ease-in-out;
        @include respond(screen-l) {
            flex: auto;
            justify-content: space-around;
            align-items: center;
            padding: 0rem;
        }
        &--btn {
            text-decoration: none;
            color: $color-grey-dark-2;
            font-size: 1.5rem;
            @include respond(screen-m) {
                padding: 0 1rem;
            }
            &:hover,
            &:active {
                color: $color-secondary;
            }
            @include respond(screen-xl) {
                padding: 0 2rem;
            }
            @include respond(screen-xxl) {
                padding: 0 3rem;
            }
        }
    }

}

