//COLOURS
$color-primary:#2e9f2e;
$color-primary-light: #47c747;
$color-primary-dark: #205b20;

$color-secondary: #b51515;
$color-secondary-light: #dd3232;
$color-secondary-dark: #901a1a;

$color-tertiary: #e6d819;
$color-tertiary-light: #f8ec42;
$color-tertiary-dark: #c9bd0f;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #c9c9c9;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;
$color-grey-dark-4: #181818;


$color-white: #fff;
$color-black: #000;

//FONT 
$default-font-size: 1.6rem;
